* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.Header{
  width: 100%;
  height: 100px;
  background-color: #FFD6E0;
  margin-top: -2.5%;
  border-bottom: 3px solid red;
}

h1{
  font-size: 55px;
  text-align: left;
  margin-left: 3%;
}

.adjust-button{
  margin-top: 25%;
  margin-left: 0%;
  text-align: center;
  max-width: 45%;
}

.adjust-image{
  margin: 1em;
  float: right;
  max-width: 45%;
}
p{
  margin: 1em;
  display:left;
  max-width: 45%
}
h2{
  margin: 1em;
  display:left;
  max-width: 45%
}

.real-img{
  width:100%;
  margin-right:22.5%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

h3{
  font-size: 18px;
  text-align: center;
  margin-right:35%;
  margin-left:35%;
  margin-top:5%;
  max-height:10%;
}
